*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.btn-danger{
    padding: 5px;
    background-color: red;
    color: white;
    font-weight: 900;
}
#playarea{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: aquamarine;
    min-width: 50%;
}
#playarea .first{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}
#playarea .second{
    top: 50%;
    background-color: bisque;
    height: 50%;
}

#playarea .second button{
    height: 100%;
    width: 100%;
    background: transparent;
    font-size: 30px;
    
}

#playarea .first input,#playarea .first p{
    padding: 10px 10px;
    text-align: center;
    border-radius: 40px;
    font-size: 18px;
}

.ups{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(255, 94, 0),rgb(238, 94, 238));
}
#delete{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
}
#delete button{
    padding: 0 10px;
    background-color: red;
    color: white;
}

#scores th,td{
    border: 1px solid rgb(17, 0, 255);
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    font-weight: 800;
    color: white;
}
#head{
    position: fixed; top: 0;left: 0;width: 100px;
}
/* For the final Display Message: */
#lastDisplay{

    height: 100vh;
    position: fixed;
    width: 100vw;
    background: transparent;
    justify-content: center;
    align-items: center;
}
#lastDisplay #panel{
    display: flex;
    border-radius: 15px;
    padding-top: 20px;
    height: 70%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 89, 255);
}
#panel img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
#panel div{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#panel div button{
    background-color: rgb(54, 255, 47);
    outline: none;
    border-radius: 30%;

}
@media screen and (max-width: 800px) {
    .ups ,#playarea{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */

    }
    #head{
        position: absolute;
        width: 100%;
        z-index: 3000;
    }
    th,td{
        padding: 5px 10px;
        font-size: 10px;
    }
    #lastDisplay{
        height: 60vh;
        display: none;
    }
    #lastDisplay #panel {
        width: 80%;
    }
    #panel div{
        height: 20%;
        align-items: center;
        padding: 10px;
        display: flex;
        /* justify-content: space-around; */
    }
    #panel h2{
        font-size: 16px;
    }

  }

